.header {
  z-index: 100;
}
.chain-i {
  height: 60px;
  cursor: pointer;
}
.activeChain {
  border-bottom: 1px solid #00ff0a;
}
.chain-l-i {
  height: 130px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  &:first-child {
    margin-right: 20px;
  }
}
.active-chain-list {
  border-color: #00ff0a;
  background-color: #00ff0822;
}
.walls {
  width: 460px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 12px;
  &-i {
    flex: 0 0 60px;
    height: 90px;
    margin-right: 38px;
    cursor: pointer;
    &:nth-child(5n) {
      margin-right: 0;
    }
    margin-top: 12px;
    .img {
      width: 60px;
      flex: 0 0 60px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      &:hover {
        border: 1px solid #00ff0a;
      }
    }
    p{
      line-height: 12px;
      margin-top: 4px;
    }
  }
}