.seed-mint {
  min-height: 100vh;
  background-color: #0B0C0B;
  .g-circle {
    top: -300px;
    left: -240px;
    &-r {
      top: 0;
      right: 100px;
    }
  }
  .connect {
    width: 273px;
    margin-top: 18px;
  }
  padding-top: 70px;
  font-family: "Alum";
  /* background-color: #0d0d0d; */
  .ant-btn {
    font-family: "Alum";
  }
  .t-content {
    width: 1559px;
    height: 640px;
  }
  .g-c {
    top: -45px;
    right: 50px;
  }
  .g-c-r {
    top: 0;
    right: 0;
    width: 336px;
    height: 336px;
    border-radius: 50%;
    border: 1px solid #00ff0a;
    animation: spin 2s linear infinite;
  }

  .t-a {
    width: 484px;
    height: 489px;
    margin-left: 100px;
    z-index: 2;
  }
  .inf {
    width: 1920px;
    padding-top: 180px;
    /* justify-content: space-between; */
  }

  .ant-btn-primary:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    background: #00ff0a;
  }
  .ant-btn-default:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    color: #131313;
    border-color: #fff;
  }

  .footer {
    // position: absolute;
    // bottom: 0;
  }
  .mint-h  {
    right: 340px;
    top: -140px;
  }
  .mint-h-circle  {
    right: 200px;
    top: -100px;
  }
}
