.g-circle {
  top: -300px;
  left: -240px;
}
.home {
  padding-top: 70px;
  font-family: "Alum";
  background-color: rgba(11, 12, 11, 1);
  /* background-color: #0d0d0d; */
  .ant-btn {
    font-family: "Alum";
    height: 48px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .t-content {
    width: 1559px;
    height: 640px;
  }
  .g-c {
    top: -45px;
    right: 50px;
  }
  .g-c-r {
    top: 0;
    right: 0;
    width: 336px;
    height: 336px;
    border-radius: 50%;
    border: 1px solid #00ff0a;
    animation: spin 4s linear infinite;
    z-index: 0;
  }
  .g-c-a {
    top: 102px;
    right: 166px;
  }

  .g-c-r:hover {
    animation-play-state: paused;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .t-a {
    width: 484px;
    height: 489px;
    margin-left: 100px;
    z-index: 2;
  }
  .inf {
    padding-top: 180px;
    /* justify-content: space-between; */
    background: url("/images/b.png") no-repeat;
    background-size: 1920px 210px;
    background-position: top center;
  }
  .locl {
    width: 1100px;
    height: 602px;
    .locl-line-0 {
      top: 0px;
      left: 100px;
      // width: 329px;
      // height: 211px;
    }
    .locl-line-1 {
      top: -0;
      left: 550px;
    }
    .locl-line-2 {
      top: -0;
      right: 100px;
    }
    .locl-o {
      img {
        visibility: hidden;
      }
      &:hover img {
        visibility: visible;
      }
    }
  }
  .table-i {
    width: 1440px;
    height: 589px;
  }
  .g-circle-t {
    top: -180px;
    left: 340px;
  }
  .l {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers.png") no-repeat;
    background-size: contain;
    padding: 40px;
  }
  .l:hover {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers-a.png") no-repeat;
    background-size: contain;
  }
  .l:hover .rulers-line {
    width: 702px;
    height: 202px;
    background: url("/images/rulers-line-a.png") no-repeat;
    background-size: contain;
  }
  .rulers-line {
    left: 0;
    bottom: 28px;
    width: 702px;
    height: 202px;
    background: url("/images/rulers-line.png") no-repeat;
    background-size: contain;
  }
  .r {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers1.png") no-repeat;
    background-size: contain;
    padding: 40px;
  }
  .r:hover {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers1-a.png") no-repeat;
    background-size: contain;
    .rulers-line1 {
      width: 700px;
      height: 99px;
      background: url("/images/rulers-line1-a.png") no-repeat;
      background-size: contain;
    }
  }
  .rulers-line1 {
    right: 0;
    bottom: 135px;
    width: 700px;
    height: 99px;
    background: url("/images/rulers-line1.png") no-repeat;
    background-size: contain;
  }
  .rulers-i {
    right: 48px;
    bottom: 20px;
  }
  .rulers1-bg {
    right: 40px;
    bottom: 38px;
  }
  .qa {
    width: 1440px;
  }

  .qa-i {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .ac {
    border-color: #00ff0a;
    background-color: rgba(0, 255, 10, 0.1);
  }
  .qa-a {
    transition: all ease-in-out 0.3s;
    transform-origin: top;
    overflow: hidden;
  }
  .closed {
    height: 0;
    opacity: 0;
    padding: 0;
  }
  .open {
    height: 160px;
    opacity: 1;
  }
  .locl-op-c {
    width: 200px;
    height: 242px;
  }
  .locl-op-0 {
    width: 160px;
    height: 160px;
    background: url("/images/op-0.png") no-repeat;
    background-size: contain;
  }
  .locl-op-0:hover {
    width: 200px;
    height: 242px;
    background: url("/images/op-0-a.png") no-repeat;
    background-size: contain;
  }
  .locl-op-1 {
    width: 160px;
    height: 160px;
    background: url("/images/op-1.png") no-repeat;
    background-size: contain;
  }
  .locl-op-1:hover {
    width: 200px;
    height: 242px;
    background: url("/images/op-1-a.png") no-repeat;
    background-size: contain;
  }
  .locl-op-2 {
    width: 160px;
    height: 160px;
    background: url("/images/op-2.png") no-repeat;
    background-size: contain;
  }
  .locl-op-2:hover {
    width: 200px;
    height: 242px;
    background: url("/images/op-2-a.png") no-repeat;
    background-size: contain;
  }
  .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: #00ff0a;
  }
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #131313;
    border-color: #fff;
  }
  .a-main-i {
    width: 302px;
    height: 379px;
    border-radius: 100px 0 100px 0;
    box-shadow: 0 0 85px 8px #00ff0a;
    position: absolute;
    right: 290px;
    background: #131313;
    .inner {
      width: 302px;
      height: 379px;
      border-radius: 100px 0 100px 0;
      padding-top: 0px;
      border: 1px solid #00ff0a;
      background: radial-gradient(circle at center, #00ff084b, #00ff0800);
    }
    .a-main-line {
      left: 113px;
      bottom: 123px;
    }
    .cir {
      width: 158px;
      height: 158px;
      border-radius: 50%;
      border: 1px solid #00ff0a;
      background-color: #00ff0828;
      position: absolute;
      left: -80px;
      bottom: 0;
      backdrop-filter: blur(10px);
      &-inner {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        border: 1px solid #00ff0a;
        background-color: #00ff0828;
        position: absolute;
        left: -45px;
        bottom: 0;
      }
    }
    .light0 {
      right: 40px;
      top: 60px;
      animation: swing0 2s 0.3s infinite ease-in-out;
    }
    .light1 {
      left: 70px;
      top: 130px;
      animation: swing1 2s 0.6s infinite ease-in-out;
    }
    .light2 {
      right: 100px;
      top: 160px;
      animation: swing2 2s 0.9s infinite ease-in-out;
    }
    .light3 {
      right: 50px;
      top: 190px;
      animation: swing3 2s 1.2s infinite ease-in-out;
    }
    @keyframes swing0 {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
    }
    @keyframes swing1 {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
    }
    @keyframes swing2 {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
    }
    @keyframes swing3 {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(10px);
      }
    }
  }
}
