.g-circle {
  top: -300px;
  left: -240px;
}
.reward {
  padding-top: 70px;
  font-family: "Alum";
  background-color: rgba(11, 12, 11, 1);
  /* background-color: #0d0d0d; */
  .ant-btn {
    font-family: "Alum";
  }
  .t-content {
    width: 1559px;
    height: 640px;
    overflow-x: hidden;
    padding-right: 60px;
  }
  .hr {
    flex: 0 0 517px;
    height: 278px;
    border-radius: 16px;
    border: 1px solid rgba(0, 255, 10, 1);
  }
  .g-c {
    top: -15px;
    right: -40px;
  }
  .g-c-r {
    top: 0;
    right: 0;
    width: 336px;
    height: 336px;
    border-radius: 50%;
    border: 1px solid #00ff0a;
    animation: spin 2s linear infinite;
  }
  .hr {
    margin-right: 70px;
  }
  .hr-g-circle {
    top: 60px;
    left: -70px;
  }
  .hr-rward-tm {
    right: -70px;
    top: -70px;
  }
  .hr-g-rward-circle {
    right: -140px;
    top: -135px;
  }
  .hr-line {
    border-bottom: 1px solid rgba(0, 255, 10, 1);
  }
  .g-c-a {
    top: 102px;
    right: 166px;
  }

  .g-c-r:hover {
    animation-play-state: paused;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .t-a {
    width: 484px;
    height: 489px;
    margin-left: 100px;
    z-index: 2;
  }
  .inf {
    padding-top: 220px;
    /* justify-content: space-between; */
    background: url("/images/b.png") no-repeat;
    background-size: 1920px 210px;
    background-position: top center;
  }
  .locl {
    width: 1100px;
    height: 602px;
  }
  .table-i {
    width: 1440px;
    height: 589px;
  }
  .g-circle-t {
    // top: 50px;
    left: 760px;
    width: 400px;
    height: 400px;
  }
  .l {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers.png") no-repeat;
    background-size: contain;
    padding: 40px;
  }
  .l:hover {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers-a.png") no-repeat;
    background-size: contain;
  }
  .l:hover .rulers-line {
  }
  .r {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers1.png") no-repeat;
    background-size: contain;
    padding: 40px;
  }
  .r:hover {
    flex: 0 0 700px;
    height: 511px;
    background: url("/images/rulers1-a.png") no-repeat;
    background-size: contain;
  }
  .rulers-line {
    left: 0;
    bottom: 28px;
  }
  .rulers-line1 {
    right: 0;
    bottom: 135px;
  }
  .rulers-i {
    right: 48px;
    bottom: 20px;
  }
  .rulers1-bg {
    right: 40px;
    bottom: 38px;
  }
  .qa {
    width: 1440px;
  }

  .qa-i {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .ac {
    border-color: #00ff0a;
    background-color: rgba(0, 255, 10, 0.1);
  }
  .qa-a {
    transition: all ease-in-out 0.3s;
    transform-origin: top;
    overflow: hidden;
  }
  .closed {
    height: 0;
    opacity: 0;
    padding: 0;
  }
  .open {
    height: 160px;
    opacity: 1;
  }
  
  .locl-op-c {
    width: 200px;
    height: 242px;
  }
  .locl-op-0 {
    width: 160px;
    height: 160px;
    background: url("/images/op-0.png") no-repeat;
    background-size: contain;
  }
  .locl-op-0:hover {
    width: 200px;
    height: 242px;
    background: url("/images/op-0-a.png") no-repeat;
    background-size: contain;
  }
  .locl-op-1 {
    width: 160px;
    height: 160px;
    background: url("/images/op-1.png") no-repeat;
    background-size: contain;
  }
  .locl-op-1:hover {
    width: 200px;
    height: 242px;
    background: url("/images/op-1-a.png") no-repeat;
    background-size: contain;
  }
  .locl-op-2 {
    width: 160px;
    height: 160px;
    background: url("/images/op-2.png") no-repeat;
    background-size: contain;
  }
  .locl-op-2:hover {
    width: 200px;
    height: 242px;
    background: url("/images/op-2-a.png") no-repeat;
    background-size: contain;
  }

  .ant-btn-primary:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    background: #00ff0a;
  }
  .ant-btn-default:not(
      :disabled
    ):not(.ant-btn-disabled):hover {
    color: #131313;
    border-color: #00ff0a;
    background: #00ff0a;
  }

  .tables {
    width: 1440px;
  }
  .t-border {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
  }
  .ta-l,
  .ta-r {
    flex: 0 0 700px;
  }
  .t-h-text {
    backdrop-filter: blur(60px);
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 32px;
    &:hover {
      border-color: #00ff0a;
      background: rgba(0, 255, 10, 0.1);
    }
  }

  .t-body {
    backdrop-filter: blur(60px);
    &:hover {
      border-color: #00ff0a;
      background: rgba(0, 255, 10, 0.1);
      .ti,
      .line-i:first-child{
        color: #00ff0a;
      }
    }
  }
  .ti {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 100px;
  }
  .line {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .line:last-child {
    border-right: none;
  }
  .line-i {
    line-height: 32px;
  }
  .line-i:first-child,
  .line-i:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
