.comp-c {
  // width: 1920px;
  margin: auto;
  margin-top: 40px;
}

.comp {
  // height: 200px;
  width: 388px;
}
.comp-c0 {
  width: 60px;
  height: 60px;
  background: url("/images/c0.png") no-repeat;
  background-size: contain;
}
.comp-c0:hover {
  width: 60px;
  height: 60px;
  background: url("/images/c0-a.png") no-repeat;
  background-size: contain;
}
.comp-c1 {
  width: 60px;
  height: 60px;
  background: url("/images/c1.png") no-repeat;
  background-size: contain;
}
.comp-c1:hover {
  width: 60px;
  height: 60px;
  background: url("/images/c1-a.png") no-repeat;
  background-size: contain;
}
.comp-c2 {
  width: 60px;
  height: 60px;
  background: url("/images/c2.png") no-repeat;
  background-size: contain;
}
.comp-c2:hover {
  width: 60px;
  height: 60px;
  background: url("/images/c2-a.png") no-repeat;
  background-size: contain;
}